body{
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    background-color: rgb(30, 224, 224);
}

h1{
    color: white;
}

.countainer{
    background-color: rgb(255, 252, 243);
    width: 600px;
    min-height: 200px;
    border-radius: 30px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

div{
    padding: 5px;
}

#ano{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

#ano > input{
    height: 15px;
    margin-left: 10px;
    
}

#sexSec{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    align-content: center;
}

#sexSec > input{
    height: 15px;
    margin: 0 10px;
}

#valid{
    margin-left: 40px;
}

#valid > input{
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}

#image{
    text-align: center;
}

#image > img {
    width: 200px;
    border-radius: 50%;
}

#txt{
    text-align: center;
    padding: 10px 0;
}

footer > p {
    color: white;
    font-weight: bold
}